html{
    font-family: arial;
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    background-color:#e1e1e1;
}

h1{
    font-size:25px;
}

.main {
    max-width:700px;
    width:100%;
    margin:0 auto;
}

.form-body {
    box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.2);
    margin-bottom:15px;
    padding:10px;
    border-radius:8px;
    background-color:#fff;
}

.form-title {
    margin:0 0 15px 0;
    color:#ffffff;
    font-size:18px;
    background-color:chocolate;
    padding:5px 10px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius:5px;
}

.form-group{
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
}

.form-group label {
    color:#444444;
    font-weight:700;
    font-size:15px;
    margin-bottom:5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    border:1px solid #e1e1e1;
    padding:8px 10px;
    border-radius:5px;
    outline: none;
}

.input-group {
    display:flex;
    flex-direction: column;
    font-size:14px;
}

.input-checkbox,
.input-radio {
    padding:5px 0px;
}

.btn {
    border:0;
    padding:10px 20px;
    border-radius:5px;
    color:#000;
    margin-top:10px;
    font-weight:700;
}

.btn-send {
    background-color:chocolate;
    color:#fff;
}

.btn-reset {
    background-color:#444444;
    color:#fff;
}

@media screen and (max-width: 768px){

    .main {
        width:calc(100% - 40px);
        
    }

}